@{
    ViewData["Title"] = "Detail";
}

@model Event

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div style="border: 1px dashed black; padding: 20px">
                <div@*style="text-align:center"*@>
                    <img src="~/assets/img/event//@Model.Image" style="margin-bottom: 10px;"></img>
                </div>
                <div style="display:flex; align-items: center">
                    <h4>Title: <span style="font-weight:300; margin-left: 5px">@Model.Name</span></h4>
                </div>
                <div style="display:flex; align-items: center">
                    <h4>Time: <span style="font-weight:300; margin-left: 5px">@Model.Time</span></h4>
                </div>
                <div style="display:flex; align-items: center">
                    <h4>Venue: <span style="font-weight:300; margin-left: 5px">@Model.Venue</span></h4>
                </div>
                <div style="display:flex; align-items: center">
                    <h4>Description: <span style="font-weight:300; margin-left: 5px;">@Html.Raw(Model.Description)</span></h4>
                </div>
                <div>
                    <a class="btn btn-primary" asp-action="Index">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
