@using EduHome.Areas.Admin.ViewModels.CategoryViewModel;

@{
    ViewData["Title"] = "Detail";
}

@model CategoryDetailViewModel

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div style="border: 1px dashed black; padding: 20px">
                <div>
                    <img src="~/adminAssets/images/category.jpg"></img>
                </div>
                <div style="display:flex; align-items: center">
                    <h4>Name: <span style="font-weight:300; margin-left: 5px">@Model.Name</span></h4>
                </div>
                <div>
                    <a class="btn btn-primary" asp-action="Index">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
